/****************CLASES GENERALES****************/
.titulo{
    color: #06052b;
}

/*-------------------PARTE SUPERIOR----------------*/
ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: end;
    gap: 200px;
}

li{
    list-style-type: none;
    margin-top: 20px;
    padding: 0px;
}

a{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFF;
}

a:hover{
    color: black;
}

#parteSuperior{
    background: rgb(7,9,73);
background: linear-gradient(90deg, rgba(7,9,73,1) 1%, rgba(15,106,128,1) 85%);
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    padding-right: 30px;
    display:flex;
    gap: 300px;
}

#iconoSuperior{
    margin-left: 20px;
    margin-top: 10px;
    padding: 0px;
    width: 50px;
    height: 50px;
}

/*-------------------BIENVENIDA-----------------*/

#bienvenida{
    margin: 0px;
    padding: 0px;
    height: 500px;
    width: 100%;
    animation: cambiarColor 10s ease infinite;

    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #FFF;
}

#mensajeBienvenida{
    animation: mover 5s ease-in-out infinite;
}

@keyframes mover {
    0%{transform: translateY(20px);}
    50%{transform: translateY(0px);}
    100%{transform: translateY(20px);}
}

@keyframes cambiarColor {
    0% { background-color: rgb(0, 1, 3);}
    25%{ background-color: rgb(0, 1, 73);}
    50%{ background-color: rgb(31, 32, 138);}
    75%{ background-color: rgb(0, 1, 73);}
    100%{ background-color: rgb(0, 0, 0); }
}

/*--------------ACERCA DE MÍ-----------------*/
#acercaDe{
    width: 100%;
    height: 520px;
    background-color: aquamarine;
    padding: 33px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

#acercaDe img{
    border: 10px solid #080229;
    margin: 10px;

}

#mensajeAcercaDe{
    width: 600px;
}


#imagenPersonal{
    width: 350px;
    height: 350px;
    position:relative;
    top: 50px;
}

#imagen01{
    width: 400px;
    height: 150px;
}

#imagenTK{
    width: 250px;
    height: 250px;
    position: relative;
    left: 70px;
}

/*----------------ESTUDIOS-----------------*/
#estudios{
    width: 100%;
    height: 550px;
    padding: 33px;
    background-color: #120a5a;
    
}

#estudios h1{
    color: antiquewhite;
    text-align: end;
    margin-bottom: 20px;
}

#grupoItems01{
    display: flex;
    justify-content: space-around;
}

#grupoItems01 div{
    width: 400px;
    height: 400px;
    padding: 30px;
    background-color: rgb(155, 152, 202);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 25px;
    text-align: center;

}

#estudios img{
    width: 260px;
    height: 260px;
    
}


/*-----------------EXPERIENCIA----------------*/
#experiencia{
    width: 100%;
    height: 630px;
    padding: 33px;
    background-color: #054b6b;
}

#experiencia h1{
    color: #FFF;
    margin-bottom: 20px;
}

#experiencia img{
    width: 100px;
    height: 100px;
}

#grupoItems02{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}


.tecnologias{
    height: 100%;
    width: 150px;
    padding: 10px;
    background-color: rgb(8, 39, 124);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#textoExperiencia{
    background-color: rgb(83, 142, 160);
    border-radius: 20px;
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*-------------------CONTACTO----------------------*/

#contacto{
    width: 100%;
    height: 400px;
    padding: 33px;
    background-color: rgb(127, 187, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    text-align: center;
}

#contacto img{
    width: 100px;
    height: 100px;
}

#contacto div{
    display: flex;
    justify-content: space-evenly;
}

/*------------------------FOOTER-------------------------*/
footer{
    width: 100%;
    height: 50px;
    background: rgb(15,106,128);
    background: linear-gradient(90deg, rgba(15,106,128,1) 1%, rgba(7,9,73,1) 85%);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}










